{% extends "shop/base.html" %}
{% block title %}
  Ваша корзина товаров пустая
{% endblock %}
{%load static%}


{%block content%}
<div class="checkout">
  <div class="container">
    <h3>Ваша корзина товаров пустая</h3>
    <div class="checkout-left"> 
        <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
          <a href="/"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Продожить покупки</a>
        </div>
        <div class="clearfix"> </div>
      </div>
  </div>
</div>

{%endblock%}