{% extends "shop/base.html" %} 
{% load static %} 
{% load embed_video_tags %}
{%load tags%}
{% block title %} {{ product.name }} {% endblock %}

{%block scripts%}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/slick.css'%}"/>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/slick-theme.css'%}"/>
<script type="text/javascript" src="{%static 'shop/js/slick.min.js'%}"></script>
{%endblock%}
{%block content%}
<!-- single -->
<div class="single">
  <style>label, #id_quantity {
    display:none;
  }

</style>
    <div class="container">
      <div style="padding: 1em; margin-bottom: 2em; border-bottom:1px solid #eee;" class="cat_info">
          {%if tree%}
          <a style="color: #FDA30E; text-decoration: none;" href="/all/">Каталог</a> >
          {% for node in tree %}
          <a style="color: #FDA30E; text-decoration: none;" href="{{node.get_absolute_url}}">{{node.name}}</a> > 
          {% endfor %}
          <a style="color: #FDA30E; text-decoration: none;" href="{{product.category.get_absolute_url}}">{{product.category.name}}</a> >
          <b>{{product.name}}</b>
          {%else%}
          <a style="color: #FDA30E; text-decoration: none;" href="/all/">Каталог</a> >
          <a style="color: #FDA30E; text-decoration: none;" href="{{product.category.get_absolute_url}}">{{product.category.name}}</a> >
          <b>{{product.name}}</b>
          {%endif%}
      </div>
        <div class="col-md-7 single-right-left animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
            <div class="grid images_3_of_2">
                <div class="flexslider">
                    <!-- FlexSlider -->
                    <script>
                    // Can also be used $(window).load(function() with $(document).ready()
                    $(document).ready(function() {
                            $('.slider-for').slick({
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                arrows: true,
                                fade: true,
                                asNavFor: '.slider-nav'
                            });
                            $('.slider-nav').slick({
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                asNavFor: '.slider-for',
                                dots: true,
                                arrows:false,
                                centerMode: true,
                                focusOnSelect: true
                            });
                    });
                    </script>
                    <div class="slider-for">
                        <div>
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" class="img-responsive">
                        </div>
                        <div>
                            <img src="{% if product.image2 %}{{ product.image2.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" class="img-responsive">
                        </div>
                        <div>
                            <img src="{% if product.image3 %}{{ product.image3.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" class="img-responsive">
                        </div>
                        <div>
                            <img src="{% if product.image3 %}{{ product.image4.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" class="img-responsive">
                        </div>
                    </div>
                    <div class="slider-nav">
                        <div>
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" class="img-responsive">
                        </div>
                        <div>
                            <img src="{% if product.image2 %}{{ product.image2.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" class="img-responsive">
                        </div>
                        <div>
                            <img src="{% if product.image3 %}{{ product.image3.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" class="img-responsive">
                        </div>
                        <div>
                            <img src="{% if product.image3 %}{{ product.image4.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" class="img-responsive">
                        </div>
                    </div>
                    <div class="clearfix "></div>
                </div>

            </div>
        </div>
        <div style="margin-bottom: 4em; padding: 1em; border: 1px solid #eee;" class="col-md-5 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
            <h3>{{ product.name }}</h3>
            <p>
                <span class="item_price">{{ product.price }} руб.</span>
                {%if product.old_price %} <del>{{product.old_price}} руб</del> {%else%}{%endif%}
                {%if product.available%} <h4 style="color:green">Есть в наличии</h4>{%else%} <h4>Нет в наличии, доступен по предзаказу</h4>{%endif%}
            </p>
            
            <div class="occasion-cart">
                  <form id="cart__form" action="{% url "cart:CartAdd" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <button type="submit" onclick="javascript:ajaxSubmit($(this.form))" class="item_add hvr-outline-out button2"> Добавить В корзину </button>
</form>
          </div>

          <div style="padding-top: .5em; width: 100%;" class="payment-info">
              <span><b>Доставка:</b> Москва и МО. <br><b>Cпособы доставки:</b> курьер. <br></span><br>
              <img style="width: 100%; margin-bottom: .5em;" src="{%static 'shop/images/garant_dji.png'%}" alt="">
              <img style="height:35px;" src="{%static 'shop/images/sposobi_oplati.jpg'%}" alt="payment-methods"><br>
              
              
            </div>
          
    </div>
        <div class="clearfix"> </div>
        {%if product.d_image%}
        <div style="position: relative; display:inline-block; overflow: hidden; height: 400px; vertical-align:middle; text-align:center;" id="pre_desc" class="container">
          <img style="border-left: 2px solid orange; width: 100%; margin-top: -10%; border-right: 2px solid orange;" src="{{product.d_image.url}}" alt="">
                            {%if product.d_text%}
                           <div class="sl__text">
                            <div class="sl__field"><h1 class="sl__title">{{product.d_text}}</h1></div>
                          </div>
                            {%endif%}
        </div>
        {%endif%}
        <div class="bootstrap-tab animated wow slideInUp animated " data-wow-delay=".5s " style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp; ">
          <div class="bs-example bs-example-tabs " role="tabpanel " data-example-id="togglable-tabs ">
            <ul id="myTab " class="nav nav-tabs " role="tablist ">
              <li role="presentation " class="active "><a href="#home " id="home-tab " role="tab " data-toggle="tab " aria-controls="home " aria-expanded="true ">Описание</a></li>
            </ul>
            <div id="myTabContent " class="tab-content ">
              <div role="tabpanel " class="tab-pane fade in active bootstrap-tab-text " id="home " aria-labelledby="home-tab ">

                <p>{% video product.video as my_video %}
  {% video my_video 800x600 %}
{% endvideo %}

                {{ product.description|safe}}</p>
              </div>


            </div>
          </div>
        </div>
        {%if product.pr_wi.all %}
        <div style="padding:1em;" class="product-easy">
    <div class=""><h2 style="border-bottom: 3px solid orange; text-align: center; margin-bottom: 1em; padding: 1em; ">С этим товаром покупают</h2></div>

  </div>
          <div class="test" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  {%for product in product.pr_wi.all%}
                              <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img style="object-fit: cover; height: 250px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" alt="" class="pro-image-front">
                                    <img style="object-fit: cover; height: 250px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" alt="" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="{{ product.get_absolute_url }}" class="link-product-add-cart">Посмотреть</a>
                                        </div>
                                    </div>
                                    <div class="top-labels">
                                            {%if not product.available %} <span class="prom not-available">предзаказ</span> {%else%}{%endif%}
                                            {%if product.old_price %} <span class="prom sale">Акция</span> {%else%}{%endif%}
                                            {%if product.is_hit %} <span class="prom hit">Хит</span> {%else%}{%endif%}
                                            {%if product.is_new %} <span class="prom new">Новинка</span> {%else%}{%endif%}
                                        </div>
                                </div>
                                <div class="item-info-product ">
                                    <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">{{ product.price }} руб.</span>
                                        {%if product.old_price %} <del>{{product.old_price}} руб</del> {%else%}{%endif%}
                                    </div>
            <div class="occasion-cart">
                  <form id="cart__form_{{product.id}}" action="{% url "cart:CartAdd" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <a href="#" onclick="javascript:document.getElementById('cart__form_{{product.id}}').submit();" class="item_add hvr-outline-out button2" >Добавить В корзину</a>
</form>
          </div>
                                </div>
                            </div>
                        </div>
  {%endfor%}

</div>
  

{%endif%}
                {%if pr_history %}
        <div style="padding:1em;" class="product-easy">
    <div class=""><h2 style="border-bottom: 3px solid orange; text-align: center; margin-bottom: 1em; padding: 1em; ">Вы смотрели</h2></div>

  </div>
          <div class="test" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  {%for product in pr_history%}
                              <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img style="object-fit: cover; height: 250px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" alt="" class="pro-image-front">
                                    <img style="object-fit: cover; height: 250px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" alt="" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="{{ product.get_absolute_url }}" class="link-product-add-cart">Посмотреть</a>
                                        </div>
                                    </div>
                                    <div class="top-labels">
                                            {%if not product.available %} <span class="prom not-available">под заказ</span> {%else%}{%endif%}
                                            {%if product.old_price %} <span class="prom sale">Акция</span> {%else%}{%endif%}
                                            {%if product.is_hit %} <span class="prom hit">Хит</span> {%else%}{%endif%}
                                            {%if product.is_new %} <span class="prom new">Новинка</span> {%else%}{%endif%}
                                        </div>
                                </div>
                                <div class="item-info-product ">
                                    <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">{{ product.price }} руб.</span>
                                        {%if product.old_price %} <del>{{product.old_price}} руб</del> {%else%}{%endif%}
                                    </div>
            <div class="occasion-cart">
                  <form id="cart__form_{{product.id}}" action="{% url "cart:CartAdd" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <a href="#" onclick="javascript:document.getElementById('cart__form_{{product.id}}').submit();" class="item_add hvr-outline-out button2" >Добавить В корзину</a>
</form>
          </div>
                                </div>
                            </div>
                        </div>
  {%endfor%}

</div>


{%endif%}



</div>
<script>$('.test').slick({
    responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
})</script>

{%endblock%}
<!-- //single -->