{% extends 'shop/base.html' %} 
{% load static %} 
{%load tags%}
{% block title %}Магазин Dji-Express{% endblock %}

{%block content%}
{%block scripts%}<meta name="yandex-verification" content="f4e8a20eac31ba79" />

<script type="text/javascript" src="{%static 'shop/slick/slick.min.js'%}"></script>
<link rel="stylesheet" href="{%static 'shop/slick/slick.css'%}">
<link rel="stylesheet" href="{%static 'shop/slick/slick-theme.css'%}">
{%endblock%}
<div class="banner-grid">
        {%if slider_items%}
        <div class="slider_slick">
            {%for slide in slider_items%}
            <div class="slick-slider__slide">
                <img 
                    class="img-responsive" 
                    src="{{slide.image.url}}"
                    
                >
                <div class="slide-info">
                    <h1>
                        {{slide.title}}
                    </h1>
                    {%if slide.button %}
                        <a href="{{slide.button_link}}" class="item_add hvr-outline-out button2" >{{slide.button_text}}</a>
                    {%endif%}
                </div>
            </div>
            {%endfor%}
        </div>
        {%endif%}
        <script type="text/javascript">
            $(document).ready(function(){
              $('.slider_slick').slick({
                  dots: true,
                  arrows: true,
                  autoplay: true,
                  autoplaySpeed: 5000,
              });
            });
          </script>
</div>
<div style="padding-top: 0" class="product-easy">
    <div class="container">
        {%if seo_title%}
        <div class="container">
            <div class=""><h1 style="text-align: center; margin-bottom: 2em; border-bottom: 3px solid orange; padding: 1em; ">{{seo_title}}</h1></div>
            {{seo|safe}}
        </div>
        {%endif%}
        <div class="row main-table">
            
            <div class="col-md-6 col-xs-12 sep-bottom-lg">
                <div class="table-item">
                    <img class="img-responsive" src="{%static 'shop/images/image58.jpg'%}">
                    <div class="content">
                        <h1>Запчасти</h1>
                        <h4>Все для ремонта и модернизации DJI</h4>
                        <a href="/zapchasti/" style="padding: .7em 2em; margin-top: .5em;" class="item_add hvr-outline-out button2" >Подробнее</a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-xs-12 sep-bottom-lg">
                <div class="table-item">
                    <img class="img-responsive" src="{%static 'shop/images/image34.jpg'%}">
                    <div class="content">
                        <h1>Аксессуары</h1>
                        <h4>Фирменные аксессуары DJI</h4>
                        <a href="/dopolnitelnoe-oborudovanie/" style="padding: .7em 2em; margin-top: .5em;" class="item_add hvr-outline-out button2" >Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 sep-bottom-lg">
                <div class="table-item">
                    <img class="img-responsive" src="{%static 'shop/images/image2.jpg'%}">
                    <div class="content">
                        <h1>Квадрокоптеры</h1>
                        <h4>Открывай новые горизонты вместе с DJI</h4>
                        <a href="/kvadrokoptery/" style="padding: .7em 2em; margin-top: .5em;" class="item_add hvr-outline-out button2" >Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 sep-bottom-lg">
                <div class="table-item">
                    <img class="img-responsive" src="{%static 'shop/images/image7.jpg'%}">
                    <div class="content">
                        <h1>OSMO</h1>
                        <h4>Компактные ручные стабилизаторы</h4>
                        <a href="/osmo/" style="padding: .7em 2em; margin-top: .5em;" class="item_add hvr-outline-out button2" >Подробнее</a>
                    </div>
                </div>
            </div>


        </div>
        <div class="sap_tabs">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <ul class="resp-tabs-list">
                    {%if sale_products%}
                    <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-1" role="tab"><span>Интересные предложения</span></li>
                    {%endif%}
                </ul>
                <div class="resp-tabs-container">
                    {%if sale_products %}
                        {%products_list sale_products%}
                        <div class="clearfix"></div>
                    </div>
                    {%endif%}
                </div>
            </div>
            <div class="sap_tabs">
                    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                        <ul class="resp-tabs-list">
                            {%if new_products%}
                            <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-1" role="tab"><span>Новинки</span></li>
                            {%endif%}
                        </ul>
                        <div class="resp-tabs-container">
                            {%if new_products %}
                                {%products_list new_products%}
                                <div class="clearfix"></div>
                            </div>
                            {%endif%}
                        </div>
                    </div>
        </div>
    </div>
</div>
<div class="products-easy" style="margin-bottom: 2em;">

    <div class="container">
            <div class="main-banner">
  <img id="call" width="330" height="330" src="{%static 'shop/images/callMe.png'%}" alt="">
  
  <div style="padding-bottom: 1.5em;"class="email-wrap">
    <span class="title">Не можете определиться с выбором?</span>
    <h4>Мы поможем вам</h4>
    <p>Укажите номер Вашего мобильного телефона и менеджеры свяжутся с Вами в течении 15 минут.</p>
     <form action="/contact-phone/" method="post" class="email-form ajax_form">
        {%csrf_token%}
        {{contact}}
        <button onclick="javascript:ajaxcontact($(this.form))" type="submit"></button>
    </form>    
</div>
  <script type="text/javascript">
    $('.loading').show();
    jQuery(window).load(function(){
        jQuery(".loading").fadeOut(200);
    });
    $(document).ready(function(){

      $('#id_phone').mask('+7 (999) 999-9999');
    })
    function ajaxcontact(obj) {
        var frm = obj
        frm.submit(function (e) {
        e.preventDefault();
        $.ajax({
            beforeSend: function() {
                $('.loading').show();
            },
            complete: function() {
                $('.loading').hide();
            },
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            dataType: "json",
            success: function (data) {
                $('#cart-modal-1 .cart-modal-body #modal-product-info').html('В течении 15 минут мы вам перезвоним');
                $('#cart-modal-1').arcticmodal();
                $('#id_phone').val('');
            },
            error: function (data) {
                console.log(data);
            },
        });
        return false;
    });
    }
  </script>
</div>
    


<div class="new-advantage">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="new-advantage__item">
              <div class="new-advantage__item-icon">
                <img src="https://angrystore.ru/images/iconsvg/icon-07.svg">  
              </div>
              <div class="new-advantage__item-text">
                Гарантия - 1 год<br>
                Возврат - 14 дней
              </div>
            </div>
          </div>
  
          <div class="col-xs-12 col-md-3">
            <div class="new-advantage__item">
              <div class="new-advantage__item-icon">
                <img src="https://angrystore.ru/images/iconsvg/icon-05.svg">  
              </div>
              <div class="new-advantage__item-text">
                Только оригинальная продукция Поставки напрямую с завода 
              </div>
            </div>
          </div>
  
          <div class="col-xs-12 col-md-3">
            <div class="new-advantage__item">
              <div class="new-advantage__item-icon">
                <img src="https://angrystore.ru/images/iconsvg/icon-02.svg">  
              </div>
              <div class="new-advantage__item-text">
                Доставка по Москве и МО
              </div>
            </div>
          </div>
  
          <div class="col-xs-12 col-md-3">
            <div class="new-advantage__item">
              <div class="new-advantage__item-icon">
                <img src="https://angrystore.ru/images/iconsvg/icon-10.svg">  
              </div>
              <div class="new-advantage__item-text">
                Более 5000 обладателей гаджетов Более 1000 получили подарки
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="coupons">
  <div class="container">
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 right-col" style="margin-bottom: 1em;">
                        <div class="email-wrap">
                            <span class="title">Будьте всегда в курсе!</span>
                            <p>Узнавайте о скидках и акциях первым</p>
                             <form action="/contact-email/" method="post" class="email-form ajax_form">
                                {%csrf_token%}
                                {{emailForm}}
                                <button onclick="javascript:ajaxcontactEmail($(this.form))" type="submit"></button>
                            </form>    
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-12 col-md-8 left-col">
                    <h4><strong>Почему выбирают именно нас?</strong></h4>
                     <p>Наш интернет-магазин, собрал в себе полную линейку аксессуаров, запчастей и квадрокоптеров фирмы DJI. Здесь Вы найдете самые разнообразные модели DJI, дополнительное оборудование к ним.</p>
                    <p>Мы гарантируем качество своего товара. Наши поставки идут напрямую с завода изготовителя.  Мы постоянно совершенствуемся, обучаемся и расширяем ассортимент. Оставайтесь с нами, и вы никогда не разочаруетесь. Приятных вам покупок!</p>
                </div>

            </div>
  </div>
</div>

{%if reviews%}

<style>
    .slide-1 {
        height: 250px;
        border: 1px solid #eee;
        margin: 1em;
        padding: 1em;

    }
    .otz {
        padding: 2em;
    }
    .slide-1 h4{
        margin-bottom: .5em;
    }
</style>
<div class="container">
    <div style="margin-top: 3em;" class="row">
        <h3><b>Отзывы</b></h3>
    </div>
    <div class="otz">
        {%for r in reviews%}
        <div class="slide-1">
          <div class="row">
              <div class="col-md-12">
                  <h4><b>{{r.name}}</b></h4>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                {{r.text}}
              </div>  
          </div>
        </div>
        {%endfor%}
      </div>
</div>

<div class="container">
        {%if pr_history %}
        <div style="padding:1em;" class="product-easy">
    <div class=""><h2 style="border-bottom: 3px solid orange; margin-bottom: 1em; padding: 1em; ">Вы смотрели</h2></div>

  </div>
          <div class="test" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  {%for product in pr_history%}
                              <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img style="object-fit: cover; height: 250px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" alt="" class="pro-image-front">
                                    <img style="object-fit: cover; height: 250px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" alt="" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="{{ product.get_absolute_url }}" class="link-product-add-cart">Посмотреть</a>
                                        </div>
                                    </div>
                                    <div class="top-labels">
                                            {%if not product.available %} <span class="prom not-available">под заказ</span> {%else%}{%endif%}
                                            {%if product.old_price %} <span class="prom sale">Акция</span> {%else%}{%endif%}
                                            {%if product.is_hit %} <span class="prom hit">Хит</span> {%else%}{%endif%}
                                            {%if product.is_new %} <span class="prom new">Новинка</span> {%else%}{%endif%}
                                        </div>
                                </div>
                                <div class="item-info-product ">
                                    <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">{{ product.price }} руб.</span>
                                        {%if product.old_price %} <del>{{product.old_price}} руб</del> {%else%}{%endif%}
                                    </div>
            <div class="occasion-cart">
                  <form id="cart__form_{{product.id}}" action="{% url "cart:CartAdd" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <a href="#" onclick="javascript:document.getElementById('cart__form_{{product.id}}').submit();" class="item_add hvr-outline-out button2" >Добавить В корзину</a>
</form>
          </div>
                                </div>
                            </div>
                        </div>
  {%endfor%}

</div>


{%endif%}
</div>



  <script>

    $('.otz').slick({
        dots: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        infinite: true,
        arrows: false,
        autoplaySpeed: 3000,
        responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
      });


  </script>

{%endif%}

<script>
        function ajaxcontactEmail(obj) {
            var frm = obj
            frm.submit(function (e) {
            e.preventDefault();
            $.ajax({
                beforeSend: function() {
                    $('.loading').show();
                },
                complete: function() {
                    $('.loading').hide();
                },
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                dataType: "json",
                success: function (data) {
                    $('#cart-modal-1 .cart-modal-body #modal-product-info').html('Теперь вы узнаете первым о новинках');
                    $('#cart-modal-1').arcticmodal();
                    $('#id_email').val('');
                },
                error: function (data) {
                    console.log(data);
                },
            });
            return false;
        });
        }
</script>
{%endblock%}

