{%extends 'shop/base.html'%}
{%load static%}
{% load mptt_tags %}
{%load tags%}
{% block title %}
  {% if category %} {{ category.name }} {% else %} Страница товаров {% endif %}
{% endblock %}

{%block content%}


<div class="container" style="margin-bottom: 3em">
    <div class="product-easy">
        {%if tree%}
            <a style="color: #FDA30E; text-decoration: none;" href="/all/">Каталог</a> >
            {% for node in tree %}
                <a style="color: #FDA30E; text-decoration: none;" href="{{node.get_absolute_url}}">{{node.name}}</a> > 
            {% endfor %}
            <b>{{category.name}}</b>
        {%else%}
            {%if category%}
                <a style="color: #FDA30E; text-decoration: none;" href="/all/">Каталог</a> >
                <b>{{category.name}}</b>
            {%endif%}
        {%endif%}
        <div style="display: flex; flex-wrap: wrap; margin-bottom: 2em; justify-content: center;">
            <h1 style="border-bottom: 3px solid orange;">
                {% if category %} {{ category.name }} {% else %} Каталог {% endif %}
            </h1>
        </div>

        {%if products%}
            {%products_list products%}
        {%else%}
            {%if tree_ch%}
                {%for node in tree_ch%}
                    <a href="{{ node.get_absolute_url }}">
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                {%if node.image%}<img class="img-responsive" style="object-fit: cover; height: 250px;" src="{{node.image.url}}" alt="">{%endif%}
                                <div style="height: 40px;" class="item-info-product ">
                                    <h3 style="color: orange; font-size: 1.2em">{{ node.name }}</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                {%endfor%}
            {%endif%}
        {%endif%}
    </div>
</div>
{%endblock%}