{%extends "shop/base.html"%}
{%load static%}

{%block title %} Поиск {%endblock%}

{%block content%}
<div class="product-easy">
        <style>
    #id_quantity, label {
        display: none;

    } 
</style>
	<div class="container">
		<div class=""><h1 style="text-align: center; margin-bottom: 2em; border-bottom: 3px solid orange; padding: 1em; ">Результаты поиска</h1></div>

                        {% for product in products %}
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img style="object-fit: cover; height: 250px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" alt="" class="pro-image-front">
                                    <img style="object-fit: cover; height: 250px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" alt="" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="{{ product.get_absolute_url }}" class="link-product-add-cart">Посмотреть</a>
                                        </div>
                                    </div>
                                    <div class="top-labels">
                                            {%if not product.available %} <span class="prom not-available">предзаказ</span> {%else%}{%endif%}
                                            {%if product.old_price %} <span class="prom sale">Акция</span> {%else%}{%endif%}
                                            {%if product.is_hit %} <span class="prom hit">Хит</span> {%else%}{%endif%}
                                            {%if product.is_new %} <span class="prom new">Новинка</span> {%else%}{%endif%}
                                        </div>
                                </div>
                                <div class="item-info-product ">
                                    <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">{{ product.price }} руб.</span>
                                    </div>
            <div class="occasion-cart">
                  <form id="cart__form_{{product.id}}" action="{% url "cart:CartAdd" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <button type="submit" onclick="javascript:ajaxSubmit($(this.form))" class="item_add hvr-outline-out button2"> Добавить В корзину </button>
</form>
          </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="clearfix"></div>
	</div>
</div>
{%endblock%}