{%extends "shop/base.html"%}
{%load static%}

{%block title %} Поиск {%endblock%}

{%block content%}
<div class="product-easy">
	<div class="container">
		<div class=""><h1 style="text-align: center; margin-bottom: 2em; border-bottom: 3px solid orange; padding: 1em; ">Результаты поиска</h1></div>
		<br>
		<br>
		<div class=""><h2 style="text-align: center; margin-bottom: 2em; padding: 1em; ">По вашему запросу нет ни одного совпадения</h2></div>

	</div>
</div>
{%endblock%}