{%load static%}

<div class="mail-Message-Body-Content">
<div style="margin:0;padding:0;background:#f6f6f6;">
<div style="height:100%;padding-top:20px;background:#f6f6f6;">
    <table style="padding:0 20px 20px 20px;width:100%;background:#f6f6f6;margin-top:10px;">
        <tbody><tr>
            <td></td>
            <td style="border:1px solid #f0f0f0;background:#ffffff;width:800px;margin:auto;">
                <div>
                    <table style="width:100%;">
                        <tbody><tr>
                            <td>
                                <h3 style="font-family:Arial;color:#111111;font-weight:200;line-height:1.2em;margin:40px 20px;font-size:22px;">
                                    
    Вы сделали заказ #{{order.id}} на сайте Dji-Express.ru
                                </h3>

                                
                                        <table style="width:90%;margin:auto;">
                                        <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th style="font-family:Arial;text-align:left;color:#111111;">Наименование</th>
                                            <th style="font-family:Arial;text-align:left;color:#111111;">Количество</th>
                                            <th style="font-family:Arial;text-align:left;color:#111111;">Стоимость</th>
                                        </tr>
                                        </thead>
                                                                                    <tbody>
            {%for item in items%}
            {%with product=item%}
                                                                                    	<tr>
                                                <td style="font-family:Arial;text-align:left;color:#111111;">
                                                                                                            <img width="120" height="90" src="{{product.image.url}}">
                                                                                                    </td>
                                                <td style="font-family:Arial;text-align:left;color:#111111;">
                                                                                                            <a href="{{product.product.get_absolute_url}}" style="color:#348eda;" class="daria-goto-anchor" target="_blank" rel="noopener noreferrer">{{product.product.name}}
                                                                                                                  </a>
                                                                                                                                                        </td>
                                                <td style="font-family:Arial;text-align:left;color:#111111;">{{product.quantity}}</td>
                                                <td style="font-family:Arial;text-align:left;color:#111111;">{{product.get_cost}}</td>
                                            </tr>
                                                        {%endwith%}
            {%endfor%}
                                                                                </tbody>
                                    </table>
                                    <h3 style="font-family:Arial;color:#111111;font-weight:200;line-height:1.2em;margin:40px 20px;font-size:22px;">
                                        Итого, <strong>{{itogo}} ₽</strong> вместе с доставкой.                                </h3>
                                
    
                            </td>
                        </tr>
                    </tbody></table>
                </div>
                
                <hr>
                <div style="padding-left:20px;">
                    <h2>Информация</h2>
                    <p>Способ оплаты: <b>{{payment}}</b> </p>
                    <p>Способ доставки: <b>{{delivery}}</b></p>
                </div>
                <div style="padding-left:20px;">
                    <h2>Контактные данные</h2>
                    <p>Имя:     <b>{{order.first_name}}</b></p>
                    <p>Телефон: <b><span class="wmi-callto">{{order.phone}}</span></b></p>
                    <p>e-mail:  <b><a href="mailto:{{order.email}}" class="ns-action" data-click-action="common.go" data-params="new_window&amp;url=%23compose%3Fmailto%3Dhjex%2540ya.ru">{{order.email}}</a></b></p>
                </div>
                <div style="padding-left:20px;">
                    <h2>Адрес доставки</h2>
                    <p>Город:  <b>{{order.city}}</b></p>
                    <p>Улица: <b>{{order.street}}</b></p>
                    <p>Дом: <b>{{order.building}}</b></p>
                    <p>Квартира: <b>{{order.aps}}</b></p>
                </div>
            </td>
            <td></td>
        </tr>
    </tbody></table>
    
    
</div>
</div>


</div>
