
		<div style="border: 1px dotted gray; padding: 15px 15px 0; margin: 30px auto; width: 300px;">
			<form name="ShopForm" method="POST" action="https://money.yandex.ru/eshop.xml">
				<ul style="list-style: none;">
					<li style="margin-bottom: 20px;">
						Сумма заказа: <b>{{ form.sum.value }} Р</b>
					</li>
					{% for item in items  %}
        <li>
          {{ item.product }} | Количество: {{ item.quantity }} | Цена: {{ item.price }}
        </li>
      {% endfor %}

					{{ form.as_ul }}

					<li style="margin-top: 20px;">
						<input type="submit" value="Оплатить">
					</li>
				</ul>
			</form>
		</div>
