{% extends "shop/base.html" %}
{% block content %}
{% if login_form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in login_form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="POST">{%csrf_token%}
  
  {{ login_form.as_p }}
<button type="submit">Войти</button>
</form>

{% endblock %}