{% load mptt_tags %}

{% recursetree nodes %}
    
    <li {% if not node.is_leaf_node %} 
            class="dropdown-submenu" 
        {%endif%}>
        <div class="divider"></div>
        <a {%if not node.is_leaf_node %} 
                class="dropdown-toggle" 
                data-toggle="dropdown" 
                href="#/"
            {%endif%} 
            
            {%if node.is_leaf_node%} 
                href="{{node.get_absolute_url }}"
            {%else%} 
                id="qwe" href="#/" 
            {%endif%}>

            {%if node.icon%} 
                <img height="30"src="{{node.icon.url}}">
            {%endif%}
            {{ node.name }}
        </a>
            <ul class="dropdown-menu {{node.slug}}">
                {{ children }}
            </ul>
        </li>
{% endrecursetree %}

