{% load mptt_tags %}
{%load static%}
                        {% for product in products %}
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img style="object-fit: cover; height: 250px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" alt="" class="pro-image-front">
                                    <img style="object-fit: cover; height: 250px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/images/no-img.jpg"%}{% endif %}" alt="" class="pro-image-back">
                                    <div class="top-labels">
                                        {%if not product.available %} <span class="prom not-available">под заказ</span> {%else%}{%endif%}
                                        {%if product.old_price %} <span class="prom sale">Акция</span> {%else%}{%endif%}
                                        {%if product.is_hit %} <span class="prom hit">Хит</span> {%else%}{%endif%}
                                        {%if product.is_new %} <span class="prom new">Новинка</span> {%else%}{%endif%}
                                    </div>
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="{{ product.get_absolute_url }}" class="link-product-add-cart">Посмотреть</a>
                                        </div>
                                    </div>

                                    
                                </div>

                                <div class="item-info-product ">
                                    <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">{{ product.price }} руб.</span>
                                        {%if product.old_price %} <del>{{product.old_price}} руб</del> {%else%}{%endif%}
                                    </div>
            <div class="occasion-cart">
                  <form id="cart__form" action="{% url "cart:CartAdd" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <button type="submit" onclick="javascript:ajaxSubmit($(this.form))" class="item_add hvr-outline-out button2"> Добавить В корзину </button>
</form>
          </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}



                        <div class="clearfix"></div>
    {% if products.has_other_pages %}
    <div style="text-align:center;">
  <ul class="pagination">
    {% if products.has_previous %}
      <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  </div>
{% endif %}