{% extends "shop/base.html" %}

{% block title %}
  Спасибо за заказ
{% endblock %}


{%block content%}
<style>
  label {
    display: block;
  }
</style>
<div class="container">
   <div class=""><h1 style="text-align: center; margin-bottom: 2em; border-bottom: 3px solid orange; padding: 2em; ">Спасибо за заказ</h1></div>
<div class="product-easy" style="display: flex; flex-direction: row; justify-content: center;">
<h1>Идентификатор вашего заказа: {{ id }}. В течение нескольких минут, наш менеджер с Вами свяжется.</h1>
</div>
</div>
 
  


{% endblock %}