{% extends "shop/base.html" %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block content %}
<style>
  h2, ul{
    margin-bottom: 1.5em;
  }
  li {
    margin: .5em 0;
  }
  label {
    display: block;
  }
  .form-control {
    margin-bottom: 1em;
  }
  .form-select-delivery {
    margin-bottom: 1em;
  }
  .block-minicart {
    width: 100%;
    background-color: #F7F7F7;
  }
  .block-minicart {
    padding: 1.5em;
    margin-top: 55px;
  }
  .block-minicart .title{
    width: 65%;
    padding-right: 20px;
    text-align: left;
    /* padding-top: 10px; */
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    height: 40px;
  }
  .block-minicart .price {
    padding-left: .5em;
    text-align: right;
    /* padding-top: 10px; */
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0;
    clear: left;
  }


</style>

 <div style="margin-top:4em;" class="container">
  <form action="/order/create/" class="order" method="POST">{% csrf_token %}
        <div class="col-sm-12">
    <div class="row">
      <div class="col-md-8">
        <h2>Как и где вы хотите получить заказ?</h2>
        <div class="form-select-delivery">
          <div class="col-md-9">
                        <ul style="list-style: none;" id="id_delivery_choice">
                <li>
                    <label for="id_delivery_choice_1">
                        <input type="radio" name="delivery_choice" value="350" required="" id="id_delivery_choice_1"> Доставка по г.Москве — 350 рублей</label>
                </li>
                                <li>
                    <label for="id_delivery_choice_3">
                        <input type="radio" name="delivery_choice" value="370" required="" id="id_delivery_choice_3"> Доставка по Московской области — 350 рублей + 20руб/км от МКАД</label>
                </li>
            </ul>
            <p style="color: #9F9F9F; font-size: .9em; margin: 1em 0;">Доставка осуществляется в течение 2-х дней. Возможно предварительное оформление заказа</p>
          </div>

        </div>
        <div class="address-hidden">
          <div class="form-group input-parent">
            <div class="col-sm-9">
              <input type="text" placeholder="Город" name="city" class="form-control" required="" id="id_city" maxlength="100">
            </div>
          </div>
          <div class="form-group input-parent">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="street" placeholder="Улица" class="form-control" required="" id="id_street" maxlength="250">
                </div>
                <div class="col-md-3">
                  <input type="text" id="id_building" placeholder="Дом" name="building" value="" required="" class="form-control">
                </div>
                <div class="col-md-3">
                  <input type="text" name="aps"  placeholder="Квартира" class="form-control" required="" id="id_aps" maxlength="10">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <h2>Как вам будет удобно оплатить заказ?</h2>
            <ul style="list-style: none;" id="id_paid_choice">
                <li>
                    <label for="id_paid_choice_0">
                        <input type="radio" name="paid_choice" value="1" required="" id="id_paid_choice_0"> Оплата наличными</label>
                </li>
                <li>
                    <label for="id_paid_choice_1">
                        <input type="radio" name="paid_choice" value="2" required="" id="id_paid_choice_1"> Электронными деньгами (сбербанк онлайн)</label>
                </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <h2>Укажите ваши личные данные</h2>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <input type="text" placeholder="Имя" name="first_name" required="" id="id_first_name" maxlength="50" class="form-control">
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Фамилия" name="last_name" required="" id="id_last_name" maxlength="50" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <input type="email" placeholder="Email" name="email" required="" id="id_email" maxlength="254" class="form-control">
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Телефон" name="phone" required="" id="id_phone" maxlength="20" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: right;"><button style="margin-bottom: 1em;" id="sbmBtn" type="submit" class="item_add hvr-outline-out button2" value="">Оформить</button></div>
      </div>
      <div class="col-md-4">
    <div class="block-minicart">
      <table>
        <tbody>
        {% for item in cart  %}
          <tr>
            <td class="title">
              {{ item.product.name }}
            </td>
            <td class="count">
              {{ item.quantity }} шт
            </td>
            <td class="price">
              {{ item.total_price }} P
            </td>
          </tr>
          {% endfor %}
          <tr class="footer">
            <th class="total">
              Итого:
              <span id="total_cost"><strong>{{cart.get_total_price}}</strong> P</span>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    </div>


      

  </div>


  </form>

 </div>
<script type="text/javascript">
var last_price = parseInt($('#total_cost strong').text());
$('input[name=delivery_choice]').change(function(){
var value = parseInt($( 'input[name=delivery_choice]:checked' ).val());
$('#total_cost strong').text(last_price + value);
});

</script>


{% endblock %}