{%extends 'shop/base.html'%}
{%load static%}
{%block title%} О нас {%endblock%}

{%block content%}
<div class="container lala">
        <div class="product-easy" style="display: flex; flex-direction: column; align-items: center; padding-bottom: .5em;">
        <div class=""><h1 style="text-align: center; border-bottom: 3px solid orange; display: inline; ">О нас</h1></div>
        <br>
    </div>
    <style>
        .lala p {
            margin-bottom: .5em;
        }
    </style>
    <h4>Dji-express.ru – интернет-магазин аксессуаров и квадрокоптеров.</h4>
    <br>
    <p>В нашем магазине представлено большое количество квадрокоптеров, аксессуаров, комплектующих и запасных частей популярной модели DJI. </p>
    <p>Наши поставки идут напрямую с завода, поэтому в качестве товара Вы можете быть уверенны! Все товары, представленные в нашем магазине, отвечают всем требованиям безопасности и имеют необходимые сертификаты.</p>
    <p>Получить консультацию и оформить заказ по телефону Вы может ежедневно с 08 до 21.</p>
    <p>В настоящее время мы имеем два склада в Питере и в Москве. Магазин осуществляет доставку заказанных Вами товаров курьерской службой.</p>
    <p>При покупке каждый клиент интернет-магазина Dji-express.ru получает один год гарантии на приобретенное устройство. Вместе с покупкой он получает сервисную книжку.</p>
    <p>Подробную информацию об условиях смотрите в разделе «гарантия» и “доставка”.</p>
    <p>Мы уделяем не малую долю сил для поддержания качественного сервиса. Наши специалисты всегда рады ответить на все Ваши вопросы.</p>
    <p>
        По вопросам жалоб и предложений Вы можете обращаться в наш контактный центр по телефону: 8 (903) 512-32-58
        Или по электронной почте: djiexpress24@gmail.com
    </p>
    <br>
    <h4><strong>Компания работает в следующих направлениях:</strong></h4>
    <br>
    <p><strong>Сервисный центр квадрокоптеров</strong> (ремонт, обслуживание, настройка, доработка)</p>
    <p><strong>Магазин квадрокоптеров</strong> (продажа квадрокоптеров, аксессуаров и запасных частей)</p>
    <p><strong>Оптовая торговля</strong> (продажа квадрокоптеров, аксессуаров и запасных частей по оптовым ценам)</p>
    <p><strong>Дополнительные услуги</strong> (Фото-видео съемка с квадрокоптеров, ознакомительные и увеселительные полеты, переноска рекламных носителей и проч.)</p>
    <p><strong>Корпоративным клиентам и гос. организациям</strong>
        <br>
    Розничная и оптовая торговля, сервисные и инжиниринговые услуги, а также услуги по видеосъемке предоставляются не только частным лицам, но и крупным компаниям и госучреждениям.</p>

    <br>
    <br>
    <h3>Мы рады работать для Вас!</h3>
    <br>
    <br>


</div>
{%endblock%}