{% load static %}
{%load tags%}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Официальный поставщик DJI. Квадрокоптер в Одинцово. Отличный подарок мужчине. Квадрокоптеры в Москве, Московской области и Одинцово" />
<meta name="Keywords" content="Купить квадрокоптер, Магазин квадрокоптеров"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109790661-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109790661-1');
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46676376 = new Ya.Metrika({
                    id:46676376,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<script type="text/javascript">

</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46676376" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<link href="{%static 'shop/css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{%static 'shop/css/pignose.layerslider.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{%static 'shop/css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{%static 'shop/js/jquery-2.1.4.min.js'%}"></script>
<script type="text/javascript" src="{%static 'shop/js/mask.min.js'%}"></script>
<script src="{%static 'shop/js/simpleCart.min.js'%}"></script>
<link rel="icon" type="image/png" href="{%static 'shop/images/logo3.png'%}"/>
<script type="text/javascript" src="{%static 'shop/js/bootstrap-3.1.1.min.js'%}"></script>

<!-- arcticModal -->
<script src="{%static 'shop/js/arcticmodal/jquery.arcticmodal-0.3.min.js'%}"></script>
<link rel="stylesheet" href="{%static 'shop/js/arcticmodal/jquery.arcticmodal-0.3.css'%}">

<!-- arcticModal theme -->
<link rel="stylesheet" href="{%static 'shop/js/arcticmodal/themes/simple.css'%}">
{%block scripts%}{%endblock%}
<!-- //for bootstrap working -->

<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<script src="{%static 'shop/js/jquery.easing.min.js'%}"></script>
<title>{%block title%}{%endblock%}</title>
</head>
<body>
  <div class="loading">Loading&#8230;</div>
<style>
    #quanity-input, .occasion-cart label {
        display: none;

    } 
    @media screen and (max-width: 480px){
      #ya_map {
        width: 250px;
      }
    }
    .footer #info-phone {
      vertical-align: text-top;
      margin: 0;

    }
  </style>
  <div class="header-bb">

  
<div class="header">
  <div class="container">
    <ul>
      <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Быстрая доставка</li>
      <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:{{info.email}}">{{info.email}}</a></li>
      <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><div id="info-phone"><b>{{info.phone|safe}}</b></div></li>
    </ul>
  </div>
</div>
<!-- header-bot -->
<div class="header-bot">
	<div class="container">
		<div class="col-md-3 header-left">
			<h1><a href="/"><img src="{%static 'shop/images/logo.png'%}"></a></h1>
		</div>
    <div class="col-md-6 header-middle">
			<form action="/search/" method="GET">
				<div style="width: 90%;" class="search">
					<input style="border-radius: 2em 0 0 2em; border: 1px solid #eee;" name="q" type="search" value="Поиск" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Поиск';}" required="True">
				</div>
				<div style="width: 10%;" class="sear-sub">
					<input style="border-radius: 0 2em 2em 0; border: 1px solid #eee" type="submit" value=" ">
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
		<div class="col-md-3 header-right footer-bottom">
			<ul>
				<!-- <li><a href="#" class="use1" data-toggle="modal" data-target="#myModal4"><span>Войти</span></a>

				</li> -->
				<li><a target="_blank" class="fb" href="https://vk.com/club159452427"></a></li>
				<li><a target="_blank" class="twi" href="https://www.instagram.com/djiexpress.ru/"></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
  <div style="width: 100%;" class="container">
    <div class="top_nav_left">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav menu__list">
          <li class="active menu__item"><a class="menu__link" href="/">Главная</a></li>
          <li class="dropdown menu__item">
            <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">каталог  товаров<span class="caret"></span></a>

               <ul class="dropdown-menu multi-level">
      <li {% if not category %} class="selected" {% endif %}>
        <a href="{% url "shop:ProductList" %}">Все товары</a>
      </li>
          {%cats%}
                    </ul>
          </li>
          <li class=" menu__item"><a class="menu__link" href="/rent/">Аренда</a></li>
          <li class=" menu__item"><a class="menu__link" href="/service/">сервисный центр</a></li>
          <li class=" menu__item"><a class="menu__link" href="/contacts/">контакты</a></li>
          <li class=" menu__item"><a class="menu__link" href="/shipping/">Доставка</a></li>
          <li class=" menu__item"><a class="menu__link" href="/garant/">Гарантия</a></li>
          </ul>
          <script>
            $(document).ready(function() {
              $('.zapchasti').addClass('column--2')
              $('.zapchasti li').wrapAll('<div class="row"></div>')
              $('.zapchasti .row li').slice(0,11).wrapAll('<div class="col-md-6"><ul class="multi-column-dropdown"></ul></div>')
              $('.zapchasti .row li').slice(11,21).wrapAll('<div class="col-md-6"><ul class="multi-column-dropdown"></ul></div>')
              $('body').on('click.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });
            });
          </script>
        </div>
        </div>
      </nav>
    </div>
    <div class="top_nav_right">
      <div style="border-radius: 0 0 2em 2em;" class="cart box_1">
            <a href="{% url "cart:CartDetail" %}">
              <h3> <div class="total">
                <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
             {% with total_items=cart|length %}
        {% if cart|length > 0 %}
                <span id="cart-info">{{ total_items }} тов. {{ cart.get_total_price }} ₽</span>
         {% else %}
              <span id="cart-info">Мои покупки</span>
        {% endif %}
    {% endwith %}</div>

              </h3>
            </a>

      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div id="root">
  

{%block content%}{%endblock%}



<div id="top-button"><img width="60"src="{% static 'shop/images/up-button.png'%}" alt=""></div>
</div>
<script>

var top_show = 1000; // В каком положении полосы прокрутки начинать показ кнопки "Наверх"
var delay = 600; // Задержка прокрутки
$(document).ready(function() {
  $(window).scroll(function () { // При прокрутке попадаем в эту функцию
    /* В зависимости от положения полосы прокрукти и значения top_show, скрываем или открываем кнопку "Наверх" */
    if ($(this).scrollTop() > top_show) $('#top-button').fadeIn().css("display","inline");
    else $('#top-button').fadeOut();
  });
  $('#top-button').click(function () { // При клике по кнопке "Наверх" попадаем в эту функцию
    /* Плавная прокрутка наверх */
    $('body, html').animate({
      scrollTop: 0
    }, delay);
  });
});
</script>
<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ">
        <div class="row footer-info">
          <div class="col-md-3">
            <h4>О магазине</h4>
            <ul>
              <li><a href="/about/">О нас</a></li>
              <li><a href="/service/">Сервисный центр</a></li>
              <li><a href="/rent/">Аренда</a></li>
              <li><a href="/shipping/">Доставка</a></li>
              <li><a href="/contacts/">Контакты</a></li>
              <li><a href="/vozvrat/">Возврат и обмен</a></li>
              <li><a href="/garant/">Гарантия</a></li>

            </ul>
          </div>
          <div class="col-md-2">
              <h4>Каталог</h4>
              <ul>
                <li><a href="/kvadrokoptery/">Квадрокоптеры</a></li>
                <li><a href="/dopolnitelnoe-oborudovanie/">Аксессуары</a></li>
                <li><a href="/gadzhety/">Гаджеты</a></li>
                <li><a href="/zapchasti/">Запчасти</a></li>
                <li><a href="/osmo-aksessuary/">OSMO</a></li>
                <li><a href="/platformy/">Платформы</a></li>
              </ul>
          </div>
          <div class="col-md-3">
              <h4>Мы в соц.сетях</h4>
              <a href="https://www.instagram.com/djiexpress.ru/" target="_blank"><div class="icon-instagram"></div></a>
              <a  href="https://vk.com/club159452427" target="_blank"><div class="icon-vk"></div></a>
          </div>
          <div class="col-md-4">
              <h4>Контакты</h4>
              <ul>
                <li>Адрес: {{info.address}}</li>
                <li>Email: <a href="mailto:{{info.email}}">{{info.email}}</a></li>
                <li>Телефон: <div id="info-phone"><b>{{info.phone|safe}}</b></div></li>
                <li>Прием заказов: Ежедневно: 09:00 - 22:00</li>
              </ul>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <h4>Курьерская доставка</h4>
        <!-- <strong>СКЛАД</strong> -->
        <!-- <p>{{info.address}}</p>
        <br>
        <strong>Санкт-Петербург</strong>
        <p>м. Звенигородская, Пушкинская, ул. Звенигородская д.1 корп.2 (Бизнес Центр Звенигородский), 4 этаж, оф 429. </p> -->
        {{info.dostavka|safe}}
      </div>
    </div>
    <div style="margin-top: 1em;" class="row">
      <div class="col-md-8">
        <p>Copyright ©	2014-2018	Dji-express.ru. Все права защищены</p>
        <br>
        <p style="font-size: 10px;">Содержание страниц сайта носит исключительно информационный характер, может содержать ошибки и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437 ГК РФ. Комплектация, цвет и некоторые элементы модели могут отличаться от заявленных.</p>
      </div>
      <div class="col-md-4">
        <img style="width: 150px;" src="{%static 'shop/images/payment-methods.png'%}" alt="">
        <p style="font-size: 12px; margin-top: 5px;">создание сайтов - <a target="_blank" href="http://xn--29-6kcaaf4b0a9apc1a.xn--p1ai/">разработка29</a></p>
      </div>
    </div>



  </div>
  <!-- <div style="text-align: left; color: #eee;" class="container">
    <a style="color: #848484" href="http://xn--29-6kcaaf4b0a9apc1a.xn--p1ai/"><h5>создание сайтов - разработка29</h5></a>
  </div> -->
</div>
<!-- //footer -->
<div style="display: none;">
    <div class="box-modal" id="cart-modal">
        <div class="box-modal_close arcticmodal-close">x</div>
        <h2 style="text-align: center; margin-bottom: .5em">ТОВАР ДОБАВЛЕН</h2>
        <div style="display: flex; flex-direction: column; justify-content: space-between;" class="cart-modal-body">
          <div id="modal-product-info" style="display: flex; justify-content: space-around; align-items: center">
            
          </div>
          <div style="margin-top: 1em; text-align: center;"><a href="/cart/" class="item_add hvr-outline-out button2"> Перейти в корзину </a></div>
             
        </div>
    </div>
</div>
<div style="display: none;">
    <div class="box-modal" id="cart-modal-1">
        <div class="box-modal_close arcticmodal-close">x</div>
        <h2 style="text-align: center; margin-bottom: .5em">УСПЕШНО</h2>
        <div style="display: flex; flex-direction: column; justify-content: space-between;" class="cart-modal-body">
          <div id="modal-product-info" style="display: flex; justify-content: space-around; align-items: center">
            
          </div>
             
        </div>
    </div>
</div>
<!-- login -->
<script type="text/javascript">
        $.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});
            function ajaxSubmit(obj) {
        var frm = obj
        frm.submit(function (e) {

        e.preventDefault();

        $.ajax({
            beforeSend: function() {
                $('.loading').show();
            },
            complete: function() {
                $('.loading').hide();
            },
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            dataType: "json",
            success: function (data) {
                $('#cart-info').html(data.total_items + ' тов. ' + data.total_price + ' руб.');
                $('#cart-modal .cart-modal-body #modal-product-info').html('<img width="200" height="200" src="'+ data.product_image +'" alt="" /><h4>'+ data.product_name +'</h4>')
                $('#cart-modal').arcticmodal();
            },
            error: function (data) {
            },
        });
    });
    }
      </script>
      
</body>
</html>
