{%extends 'shop/base.html'%}
{%load static%}
{%block title%} Гарантия {%endblock%}

{%block content%}
<div class="container">
    <div class="product-easy" style="display: flex; flex-direction: column; align-items: center; padding-bottom: 20px;">
        <div class=""><h1 style="text-align: center; margin-bottom: 1em; border-bottom: 3px solid orange; display: inline; ">Гарантия</h1></div>
        <br>
    </div>
    <div>
        <p>
            Каждый клиент интернет-магазина Dji-express.ru получает один год гарантии на приобретенное устройство. Вместе с покупкой он получает сервисную книжку.
            Магазин Dji-express, официальный поставщик DJI в России, проводит осуществление гарантийного обслуживания в течение гарантийного срока при выполнении следующих условий:
        </p>
        <br>
     <h4>1. Гарантийное обслуживание осуществляется при выполнении следующих условий:</h4>
     <br>
     <ul>
         <li>В течение гарантийного срока изделие эксплуатировалось в штатном режиме в соответствии с указаниями изготовителя.</li>
         <li>Не выполнялись несанкционированные разборка, модификация либо установка оборудования.</li>
         <li>Маркировка, серийные номер, водозащитный ярлык, ярлык защиты подлинности и пр. не имеют следы попыток вскрытия или изменения конструкции.</li>
         <li>Предоставление документов, подтверждающих факт покупки: товарная накладная и гарантийный талон с указанием серийных номеров устройств.</li>
     </ul>
     <br>

     <h4>2. В следующих случаях гарантийное обслуживание не осуществляется:</h4>
     <br>
     <ul>
         <li>Повреждения вследствие факторов, не зависящих от изготовителя.</li>
         <li>Повреждения, причиненные несанкционированным изменением, разборкой или вскрытием корпуса, нарушением содержащихся в официальных руководствах указаний.</li>
         <li>Повреждения, вызванные неправильной установкой, использованием или эксплуатацией с нарушением указаний, содержащихся в руководствах.</li>
         <li>Повреждения, вызванные несанкционированным изменением электрических цепей, несоответствием используемых аккумуляторных батарей и зарядного устройства либо нарушением правил их эксплуатации.</li>
         <li>Повреждения, причиненные в процессе полетов, выполнявшихся с нарушением указаний, приведенных в руководствах.</li>
         <li>Повреждения, вызванные эксплуатацией при плохих погодных условиях (т.е. сильный ветер, снег, дождь, песчаные/пылевые бури и т.д.).</li>
         <li>Повреждения, вызванные эксплуатацией изделий в условиях наличия электромагнитных помех (т.е. в районах горных работ, вблизи радиопередающих вышек, высоковольтных линий электропередач, подстанций и т.д.).</li>
         <li>Повреждения, вызванные эксплуатацией изделий в условиях заведомо известного наличия помех от других беспроводных устройств (передатчики, видео-линки, сотовые сети, сети Wi-Fi и т.д.).</li>
         <li>Повреждения, вызванные эксплуатацией изделий с весовой нагрузкой, превышающей безопасный взлетный вес.</li>
         <li>Повреждения, вызванные преднамеренным совершением полетов с компонентами, у которых истек срок службы, или с неисправными компонентами.</li>
     </ul>
     <br>
     <style>
        table td {
           padding: .5em;
           border: 1px solid #eee;
        }
        .item {
            padding: 2em;
            border: 1px solid #eee;
            margin-bottom: 1.5em;
        }
        .item h3 {
            margin-bottom: 1em;
        }
    </style>
    
    <div class="item">
        <h3>MAVIC PRO</h3>
        <table>
        <tr>
            <td>MC (главный контроллер)</td>
            <td>12 МЕСЯЦЕВ</td>
        </tr>
        <tr>
            <td>Подвес с камерой</td>
            <td>6 МЕСЯЦЕВ</td>
        </tr>
        <tr>
            <td>Система визуального позиционирования</td>
            <td>6 МЕСЯЦЕВ</td>
        </tr>
        <tr>
            <td>Силовая установка (без пропеллеров)</td>
            <td>6 МЕСЯЦЕВ</td>
        </tr>
        <tr>
            <td>Пульт управления</td>
            <td>12 МЕСЯЦЕВ</td>
        </tr>
        <tr>
            <td>Аккумуляторные батареи</td>
            <td>6 МЕСЯЦЕВ и менее 200 циклов заряда</td>
        </tr>
        <tr>
            <td>Зарядное устройство</td>
            <td>6 МЕСЯЦЕВ</td>
        </tr>
        <tr>
            <td>Рама</td>
            <td>(гарантия не предоставляется)</td>
        </tr>
        <tr>
            <td>Пропеллеры</td>
            <td>(гарантия не предоставляется)</td>
        </tr>
        </table>
    </div>
    <div class="item">
            <h3>PHANTOM 4 PRO \ PHANTOM 4 ADV \ PHANTOM 4 </h3>
            <table>
                    <tbody>
                    <tr>
                    <td>
                    <p>MC (главный контроллер)</p>
                    </td>
                    <td>
                    <p>12 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Подвес с камерой</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Система визуального позиционирования</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Силовая установка (без пропеллеров)</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Пульт управления (без встроенного экрана)</p>
                    </td>
                    <td>
                    <p>12 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Пульт управления (со встроенным экраном)</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Аккумуляторные батареи</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ и менее 200 циклов заряда</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Зарядное устройство</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Рама</p>
                    </td>
                    <td>
                    <p>(гарантия не предоставляется)</p>
                    </td>
                    </tr>
                    </tbody>
                    </table>
        </div>
        <div class="item">
            <h3>PHANTOM 3 PROFESSIONAL \ PHANTOM 3 ADVANCED \ PHANTOM 3 STANDARD \ PHANTOM 3 4K</h3>
            <table>
                    <tbody>
                    <tr>
                    <td>
                    <p>MC (главный контроллер)</p>
                    </td>
                    <td>
                    <p>12 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Подвес с камерой</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Система визуального позиционирования</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Мотор</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Пульт управления</p>
                    </td>
                    <td>
                    <p>12 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Аккумуляторные батареи</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ и менее 200 циклов заряда</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Зарядное устройство</p>
                    </td>
                    <td>
                    <p>6 МЕСЯЦЕВ</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Рама</p>
                    </td>
                    <td>
                    <p>(гарантия не предоставляется)</p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>Пропеллеры</p>
                    </td>
                    <td>
                    <p>(гарантия не предоставляется)</p>
                    </td>
                    </tr>
                    </tbody>
                    </table>
        </div>
    <div class="item">
        <h3>PHANTOM 2 VISION + \ PHANTOM 2 VISION \ PHANTOM 2 \ PHANTOM FC40 \ PHANTOM 1 </h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>MC (главный контроллер)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Блок камеры</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Мотор</p>
                </td>
                <td>
                <p>3 МЕСЯЦА</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Регулятор ESC</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пульт управления</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>3 МЕСЯЦА</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Рама</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пропеллеры</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                </tbody>
                </table>
    </div>
    <div class="item">
        <h3>INSPIRE 2 </h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>Подвес с камерой (X4S, X5S)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Отдельные аксессуары (кроме подвеса с камерой и аккумулятора)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ и время полета менее 200 часов</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ и менее 200 циклов заряда</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Зарядное устройство</p>
                </td>
                <td>
                <p>9 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Концентратор хаб для заряда батарей</p>
                </td>
                <td>
                <p>9 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пропеллеры и монтажные пластины</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пульт управления</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Накопитель CINESSD (480Гб)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ и не менее 150 ТБ записываемой информации</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Накопитель CINESSD (240Гб, 120Гб)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ и не менее 75 ТБ записываемой информации</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Устройство для чтения SSD накопителей</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
    </div>
    <div class="item">
        <h3>INSPIRE 1 V1.0 \ INSPIRE 1 V2.0 \ INSPIRE 1 PRO \ INSPIRE 1 RAW </h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>Подвес с камерой (Z3, X3, X5, X5R)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Отдельные аксессуары (кроме подвеса с камерой и аккумулятора)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ и время полета менее 200 часов</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ и менее 200 циклов заряда</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Концентратор хаб для заряда батарей</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пропеллеры и монтажные пластины</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пульт управления</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                </tbody>
                </table>
    </div>
    <div class="item">
        <h3>OSMO \ OSMO+ \ OSMO PRO \ OSMO RAW \ OSMO MOBILE </h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>Подвес с камерой</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Держатель</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ и менее 400 циклов заряда</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Зарядное устройство</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Кабель для зарядки аккумуляторных батарей (Osmo Mobile)</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>

    </div>
    <div class="item">
        <h3>MATRICE 600 \ 600 PRO </h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>MC (главный контроллер)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пульт управления</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Комплект расширения канала дистанционного управления</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Мотор</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ и менее 200 циклов заряда</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Зарядное устройство</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Концентратор хаб для заряда батарей</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Рама</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пропеллеры</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
    </div>

    <div class="item">
        <h3>MATRICE 200 \ MATRICE 210 \ MATRICE 210-RTK </h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>MC (главный контроллер)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пульт управления</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ и менее 200 циклов заряда</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Зарядное устройство</p>
                </td>
                <td>
                <p>9 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Концентратор хаб для заряда батарей</p>
                </td>
                <td>
                <p>9 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Рама</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пропеллеры</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>D-RTK антенна</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>D-RTK процессор</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Монтажный разъем для подвеса</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Datalink Pro</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Datalink Pro антенна</p>
                </td>
                <td>
                <p>3 МЕСЯЦА</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
    </div>
    <div class="item">
        <h3>MATRICE 100</h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>MC (главный контроллер)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Мотор</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пульт управления</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ и менее 200 циклов заряда</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Рама</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пропеллеры</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
    </div>
    <div class="item">
        <h3>CRYSTALSKY</h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>Монитор</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Хаб для зарядки аккумуляторных батарей</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Монтажный кронштейн для пульта дистанционного управления</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
    </div>
    <div class="item">
        <h3>GOGGLES</h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>MC (главный контроллер)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Оптический модуль</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Зарядное устройство</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Рама</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
    </div>
    <div class="item">
        <h3>CENDENCE</h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>Пульт управления</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аксессуары</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
    </div>
    <div class="item">
        <h3>ПОЛЕТНЫЕ ПЛАТФОРМЫ - PRO S1000 \ S1000+ \ S900 \ S800 \ S800 EVO</h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>Рама</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Мотор</p>
                </td>
                <td>
                <p>3 МЕСЯЦА</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Регулятор ESC</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пропеллеры</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
    </div>
    <div class="item">
        <h3>ПОЛЕТНЫЕ ПЛАТФОРМЫ - F330 \ F450 \ F550</h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>Рама</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Мотор</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Регулятор ESC</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пропеллеры</p>
                </td>
                <td>
                <p>(гарантия не предоставляется)</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
    </div>
    <div class="item">
        <h3>
            ПОДВЕСЫ ZENMUSE Z15-BMPCC \ Z15-5D СЕРИЯ \ Z15-GH4 \ GH3 \ Z15 СЕРИЯ \ H3-4D \ H3-3D \ H3-2D 
        </h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>Подвесы Zenmuse</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Моторы подвеса</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                </tbody>
                </table>
                <p>&nbsp;</p>
    </div>
    <div class="item">
        <h3>ПОДВЕСЫ ДЛЯ ПРОМЫШЛЕННЫХ РЕШЕНИЙ Z30 \ ZENMUSE XT</h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>Подвесы</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Камера</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                </tbody>
                </table>
    </div>
    <div class="item">
        <h3>РУЧНЫЕ ПОДВЕСЫ RONIN \ RONIN-M \ RONIN-MX</h3>
        <table>
                <tbody>
                <tr>
                <td>
                <p>Механизм подвеса</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Моторы подвеса</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Пульт управления</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Аккумуляторные батареи</p>
                </td>
                <td>
                <p>3 МЕСЯЦА</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Зарядное устройство</p>
                </td>
                <td>
                <p>6 МЕСЯЦЕВ</p>
                </td>
                </tr>
                <tr>
                <td>
                <p>Беспроводной джойстик (Thumb Controller)</p>
                </td>
                <td>
                <p>12 МЕСЯЦЕВ</p>
                </td>
                </tr>
                </tbody>
                </table>
    </div>
    <br>
    <h4>Условия оказания услуг по платному  ремонту</h4>
    <br>
    <p>
            Компания DJI предоставляет своим клиентам воспользоваться услугами по выполнению платного ремонта в случаях, на которые не распространяются условия гарантийного обслуживания. Плата взимается за диагностику, материалы, ремонтные работы, доставку к месту назначения и другие трудозатраты.
            При отказе клиента на выполнение ремонта за его счет, клиенту надлежит уплатить стоимость доставки обратно соответствующего товара (товаров), а также стоимость выполнения диагностики.
            
    </p>
    <br>
    <p>
            Более подробную информацию о гарантийном обслуживании DJI вы сможете получить по телефону: 8(977) 409-73-38
    </p>
    <br>
    <br>
    </div>
</div>

{%endblock%}
