{%extends 'shop/base.html'%}
{%load static%}
{%block title%} Аренда {%endblock%}

{%block content%}

<div class="container">
<div class="product-easy" style="display: flex; flex-direction: column; align-items: center; padding-bottom: 20px;">
	<div class=""><h1 style="text-align: center; margin-bottom: 1em; border-bottom: 3px solid orange; display: inline; ">Аренда</h1></div>
	<br>
</div>
</div>



<style>
	.block {
		 display: flex;
		 justify-content: center;
		 align-items: center;
	}

	.content strong{
		color: orange;
	}

	.block .wrapper {
		background-color: rgba(1,1,1,.5);
		padding: 2em 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.wrapper .content {
		width: 650px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		padding-top: 2.5em;

	}
	.content h5 {
		padding: 0 1em;
		text-align: center;
	}
    @media screen and (max-width: 800px) {
		.wrapper .content {
			width: 380px;
		}
	}

	.content .content-right, .content-left {
		text-align: center;

		margin-bottom: 1em;
	}
	.content h4 {
		color: orange;
		margin-bottom: .5em;
	}
	.title h5 {
		padding-top: .5em;
	}
</style>
<div class="container" style="margin-bottom: 3em">
{%for rent in rents%}
<div style="background: url('{{rent.image.url}}') no-repeat scroll 50% 50%; height: auto; color:#fff; font-size: 1.2em; padding: 3em 0;" class="block block-1">
    <div class="wrapper">
        <div class="title">
        	<h1><strong>{{rent.title}}</strong></h1>
        	
        </div>
        <div style="padding-top: 1em;" class="content">
        	{%if rent.title_t%}<h5>{{rent.title_t}}</h5>{%endif%}
        </div>
        <div class="content">
            <div class="content-left">
                <h4><strong>С оператором</strong></h4> {{rent.s_zal|safe}}
            </div>
            <div class="content-right">
            	<h4><strong>Без оператора</strong></h4> {{rent.bez_zal|safe}}
            </div>
        </div>
    </div>
</div>
{%endfor%}
</div>

{%endblock%}