{%extends 'shop/base.html'%}
{%load static%}
{%block title%} Сервисный центр {%endblock%}

{%block content%}
<style>
    .block-2 {
    	background: url('{%static 'shop/images/service-5.jpg'%}') no-repeat scroll 50% 0;
    	height: 600px;
    	color: #fff;
    	display: flex;
    	justify-content: flex-end;

    }
    .block-2 .wrapperr {
    	display: flex;
		justify-content: space-around;
		flex-direction: column;
		width:50%;
		margin: 2em;
		padding: 2em;
		background-color: rgba(1,1,1,.3);

    }
    @media screen and (max-width: 800px) {
    	.block-2 {
    		justify-content: center;
    	}
    	.block-2 .wrapperr {
    		width: 100%;
    		margin:0;
    	}
    }
	.block-1 {
		background: url('{%static 'shop/images/service-6.jpg'%}') no-repeat scroll 50% 0;
		height: 600px;
		color:#fff;
	}
	.block .wrapper {
		padding-top: 4em;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.wrapper .content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		padding-top: 4em;

	}
	.content .content-right, .content-left {
		text-align: center;

		margin-bottom: 1em;
	}
	.content h4 {
		color: orange;
		margin-bottom: .5em;
	}
</style>
<div class="container" style="margin-bottom: 3em">
<div class="product-easy" style="display: flex; flex-direction: column; align-items: center;">
	<div class=""><h1 style="text-align: center; margin-bottom: 2em; border-bottom: 3px solid orange; display: inline; ">Сервисный центр</h1></div>
	<br>


</div>
<div class="block block-2">
	<div class="wrapperr">
		<div class="title">
			<h3><strong>РЕШЕНИЕ ЛЮБЫХ ПРОБЛЕМ</strong></h3>
		</div>
			<div class="title-content">
				Официальный дистрибьютер компании DJI в России проводит качественное гарантийное и постгарантийное обслуживание техники и решает широкий ряд проблем:
			</div>
			<div class="content">
				<ul class="float-up-slower">
				<li>отключение, сбои, поломки камер и подвесов;</li>
				<li>частая потеря сигнала во время полета;</li>
				<li>перепрошивка программного обеспечения и его настройка;</li>
				<li>замена поврежденного корпуса, моторов и любых других вышедших из строя деталей;</li>
				<li>монтаж FPV-систем;</li>
				<li>калибровка матриц камер;</li>
				<li>решение всевозможных проблем с пультом дистанционного управления и аккумулятором;</li>
				<li>другие проблемы.</li>
				</ul>
			</div>

	</div>
</div>
<div class="block block-1">
    <div class="wrapper">
        <div class="title">
        	<h1>СТОИМОСТЬ РАБОТ</h1>
        </div>
        <div class="content">
            <div class="content-left">
                <h4>Настройка дрона</h4> Обновление ПО - 2000 р. <br>Калибровка джойстика - 2000 р. <br>Активация DJI Phantom - 1000 р.
            </div>
            <div class="content-right">
            	<h4>Техническое обслуживание</h4>

				Phantom - 4000 р. <br>
				Ispire 1 - 6000 р. <br>
				S900/S1000/MX600 - 10000 р.
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}