{%extends 'shop/base.html'%}
{%load static%}
{%block title%} Контакты {%endblock%}

{%block content%}
<style>
    .shipping > * {
        margin-bottom: .5em;
    }
    .shipping {
        margin-bottom: 3em;
    }
    .shipping ul li {
        margin-bottom: .5em;
    }
    .pay {
        text-align: center;
    }
    .free {
        font-size: 1.3em;
        color: orange;
    }
    .black {
        color: black;

    }
    .grey {
        color: grey;
    }
</style>
<div class="shipping container">
        <div class="product-easy" style="display: flex; flex-direction: column; align-items: center; padding-bottom: .5em;">
            <div class=""><h1 style="text-align: center; border-bottom: 3px solid orange; display: inline; ">Доставка</h1></div>
            <br>
        </div>
            <div class="col-md-12">
                <h3><b>Доставка по Москве</b> — 350 рублей</h3>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <img src="{%static 'shop/images/shipping-1.jpg'%}" width="130" alt="">
                    </div>
                    <div class="col-md-8">
                        Доставка осуществляется курьерской службой, в течение 1-2 дней после оформления заказа на сайте (за исключением товаров "под заказ", 
                        их сроки обговариваются индивидуально после поступления на склад). Вы можете сами выбрать удобное время и дату доставки. За несколько часов до указанного времени Вам поступит звонок от курьера.
                    </div>
                </div>
            
            <br>
            <br>
            <h3><b>Доставка за пределы МКАД и по Московской области </b>— 350 рублей + 20 руб/км от МКАД.</h3>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <img src="{%static 'shop/images/shopping-2.gif'%}" width="140" alt="">
                </div>
                <div class="col-md-8">
                    Доставка осуществляется курьерской службой. Вы сможете выбрать удобное время и дату доставки. 
                За несколько часов до указанного времени Вам поступит звонок от курьера. Сроки доставки 1-2 дня.
                </div>
            </div>
            <br>
            <br>
            <p class="grey">
                <em>
                    * При размещении заказа до 12:00 и наличии свободных курьеров, возможна доставка в день заказа.
                </em>
            </p>
            <br>
            <h3 class="pay"><b>Оплата</b></h3>
            <br>
            <p>
                Оплата производиться наличными курьеру при получении товара.
                Также оплату можно произвести через Сбербанк онлайн по номеру карты или по номеру телефона.
            </p>
        </div>
        </div>

{%endblock%}
