{%extends 'shop/base.html'%}
{%load static%}
{%block title%} Возврат и обмен {%endblock%}


{%block content%}
<style>
    .ob {
        list-style-type: decimal;
    }
    .ob li {
        margin-bottom: .5em;

    }
</style>
<div class="product-easy" style="display: flex; flex-direction: column; align-items: center; padding-bottom: .5em;">
        <div class=""><h1 style="text-align: center; border-bottom: 3px solid orange; display: inline; ">Возврат и обмен товара</h1></div>
        <br>

    </div>
    <div class="container">
            <p>
                    Если полученный товар надлежащего качества по каким либо причинам Вам не подошел, Вы можете вернуть его в течение 14 дней после даты приобретения (стоимость платной доставки не возвращается) при условии выполнения следующих требований:
            </p>
            <br>

            <ul>
                <li>Товар должен быть надлежащего качества, т.е не иметь никаких дефектов: трещин, царапин, сколов, механических повреждений и т.д., кроме скрытых производственных дефектов.</li>
                <li>Товар не должен иметь следов эксплуатации, должен быть сохранен его товарный вид, потребительские свойства, комплектация, пломбы и фабричная (производственная) упаковка.</li>
                <li>Возврат и обмен элементов питания, бывших в употреблении невозможен.</li>
            </ul>
            <br>
            <p>Оценка состояния товара может занимать от 1 до 10 дней. После оценки состояния товара мы примем решение о возможности возврата.</p>
            <br>
            <p>Если будет установлено, что товар был в эксплуатации или имеет дефекты (трещины, царапины, сколы, механические повреждения и т.д, кроме производственных дефектов), то решение будет отрицательным.</p>
            <br>
            <h4>Гарантийные обязательства</h4>
            <br>
            <ul class="ob">
                    <li>На переданные покупателю товары, устанавливается гарантийный срок 1 год.</li>
                    <li>Настоящие гарантийные обязательства действительны при	предъявлении: бланка заказа с подписью Покупателя.</li>
                    <li>Максимальный срок гарантийного ремонта не может превышать 45 дней.</li>
                    <li>Гарантийное сервисное обслуживание изделия, включает в себя бесплатное выполнение ремонтных работ или замену изделия на новое в случае невозможности ремонта.</li>
                    <li>Гарантийные обязательства не распространяются на изделия, которые были повреждены в результате безответственного или небрежного обращения, несоблюдения инструкции по пользованию изделием, постороннего вмешательства в электрическую схему изделия или выполнения самостоятельного ремонта, разборки модели, нормального износа, попадания внутрь жидкостей, посторонних предметов.</li>
                    <li>Все условия гарантии действуют в рамках закона “О защите прав потребителей” и регулируются законодательством РФ.</li>
                    <li>Гарантийные обязательства не распространяются: аккумуляторные батареи, модельные жидкости и масла, краски, клеи, смолы, детали, подверженные естественному износу, а также на другие изделия и комплектующие, подверженные сильным механическим воздействиям в процессе эксплуатации: двигатели, серво приводы, шестерни, пластиковые наконечники тяг, кабанчики, уголки, петли, бальза, рейки и пластины из дерева и т.п.</li>
                    <li>Бесплатный срок хранения отремонтированного товара составляет 5 дней с момента оповещения клиента об окончании ремонтных работ. С 6 дня взимается плата в размере 50 рублей за каждый день ожидания.</li>
                    <li>Максимальный срок хранения готовой модели в сервисе (или в случае отказа клиента от ремонта) составляет 90 дней. После истечения 90 дней товар уничтожается. В качестве оповещения о готовности ремонта можно считать любой контакт с клиентом (звонок, смс, e-mail).</li>
                    
            </ul>
            <br>
            <p>Настройка модели не предусматривается гарантийным обслуживанием или договором купли-продажи. Настройка модели может быть выполнена как дополнительная услуга, за отдельную плату. При этом, клиент может рассчитывать на бесплатные консультации по вопросам настройки и эксплуатации  модели.</p>
            <br>
            <h4>Ответственность за доставку</h4>
            <br>
            <p>Мы не несем ответственность за товар, переданный в транспортную компанию, курьерскую службу или Почту России для доставки клиенту. В случае повреждения или потери отправления в процессе доставки получатель должен составить соответствующий акт и претензию соответствующей транспортной компании. После этого мы обязательно участвуем в поиске отправления или в получении возмещения.</p>
            <br>
            <h4>Информация о товаре</h4>
            <br>
            <p>Информация о товаре, размещенная на сайте www.dji-express.ru, носит ознакомительный характер и не является публичной офертой. Технические характеристики, комплектность, цвет могут быть изменены производителем без уведомления.</p>
            <br>
            <h4>Безопасность</h4>
            <br>
            <p>При соблюдении основных правил эксплуатации товара, производитель гарантирует его безопасность. Самостоятельное использование товара детьми младше 14 лет не рекомендуется.</p>
            <br>
            <h4>Инструкция по пересылке модели в магазин и сервис</h4>
            <br>
            <p>В случае необходимости пересылки товара обратно к нам на склад или сервисный центр есть несколько важных пунктов.</p>
            <br>
            <ul class="ob">
                <li>При отправке просьба вложить в заказ листок с номером заказа, вашими контактными данными и описанием неисправности или причины пересылки.</li>
                <li>Необходимо пересылать полный комплект модели (отправка отдельных частей возможна только по согласованию с сервисным центром). Зачастую, для диагностики неисправности нужна полная комплектация товара.Не стоит обматывать родную коробку скотчем.</li>
            </ul>
            <br>
            <br>
    </div>
{%endblock%}